/* ===== RESET STYLING ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background: #343b47;
    min-height: 100vh;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

/* ===== APP CONTAINER ===== */
.app-container {
    width: 100%;
    max-width: 1400px;
    min-height: 850px;

    background: #0d1623;

    border-radius: 30px;

    display: grid;
    grid-template-columns: 90px 1fr 360px;

    gap: 20px;
    padding: 20px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.35);
}